---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import astronautImage05x from "@/components/assets/images/astronaut-block-0.5x.png";
import astronautImage075x from "@/components/assets/images/astronaut-block-0.75x.png";
import astronautImage1x from "@/components/assets/images/astronaut-block-1x.png";
import ponderingImage05x from "@/components/assets/images/pondering-block-0.5x.png";
import ponderingImage075x from "@/components/assets/images/pondering-block-0.75x.png";
import ponderingImage1x from "@/components/assets/images/pondering-block-1x.png";
import { constants } from "@/components/constants";
import { cn } from "@/lib/utils";
import { Link } from "@/components/ui/button";

const TITLE = "Skulpture";
const DESCRIPTION = "Software, Delivery, Advisory";

const resources = {
	intro: {
		header: "Your idea, to fruition",
		subtitle:
			"Collaborate with us to find simple, reliable software solutions to your complex business problems.",
		doContactUs: "Contact us",
	},
	banner: {
		tagline: ["Building the future,", "today."],
		alt: "Serious business",
	},
	about: {
		header: "Our cause",
		subtitle: "Managing software throughout its lifecycle",
		description:
			"We build and maintain software solutions for your business problems through DevOps delivery and Agile development practices so that you can see faster, more reliable results. Software starts from an idea or business problem to grow into a fully fledged solution which drives business growth, and we're pretty good at the in-between.",
		doLearnMore: "Learn more",
	},
};
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
	<div class={cn(constants.vhContainer)}>
		<div
			class={cn(
				constants.contentContainer,
				"flex flex-col items-start justify-center h-screen gap-8 first:mb-3",
			)}>
			<h1 class="font-bold text-4xl lg:text-6xl tracking-tight">
				{resources.intro.header}
			</h1>
			<p
				class="text-xl max-w-lg lg:text-3xl lg:max-w-3xl tracking-tight text-foreground/75">
				{resources.intro.subtitle}
			</p>
			<Link href="/contact">
				{resources.intro.doContactUs}
			</Link>
		</div>
	</div>
	<div class={cn(constants.vhContainer, "flex items-center justify-center")}>
		<span class="text-5xl lg:text-6xl tracking-tighter text-center">
			<span class="font-bold">
				{resources.banner.tagline.at(0)}
			</span>&nbsp;{resources.banner.tagline.at(1)}
		</span>
		<Image
			srcset={[
				`${astronautImage05x.src} 0.5x`,
				`${astronautImage075x.src} 0.75x`,
				`${astronautImage1x.src} 1x`,
			].join(", ")}
			src={astronautImage05x}
			alt={resources.banner.alt}
			class="h-screen object-cover w-auto absolute -z-10 brightness-75"
		/>
	</div>
	<div
		class={cn(
			constants.vhContainer,
			constants.contentContainer,
			"flex flex-col lg:flex-row items-center gap-32 my-20 lg:my-0",
		)}>
		<Image
			srcset={[
				`${ponderingImage05x.src} 0.5x`,
				`${ponderingImage075x.src} 0.75x`,
				`${ponderingImage1x.src} 1x`,
			].join(", ")}
			src={ponderingImage05x}
			alt={resources.banner.alt}
			class="w-full h-auto lg:h-auto lg:w-1/2"
		/>
		<div class="flex flex-col gap-6">
			<h1 class="text-primary font-bold text-xs tracking-wide uppercase">
				{resources.about.header}
			</h1>
			<h2 class="font-bold text-2xl lg:text-4xl tracking-tight">
				{resources.about.subtitle}
			</h2>
			<p class="text-sm lg:text-base text-foreground/80">
				{resources.about.description}
			</p>
			<Link href="/about" variant="outline" className="max-w-min">
				{resources.about.doLearnMore}
			</Link>
		</div>
	</div>
	<div class={cn(constants.vhContainer, "bg-secondary")}>
		<div class={cn(constants.contentContainer)}></div>
	</div>
</BaseLayout>
