---
import "@/styles/globals.css";
import { SEO } from "astro-seo";
import { ThemeProvider } from "@/components/ui/theme-provider"

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {description}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
		<SEO title={title} description={description} />
	</head>
	<body>
		<ThemeProvider storageKey={`skulpture-theme-${import.meta.env.MODE}`} client:only="react">
			<slot />
		</ThemeProvider>
	</body>
</html>
